*.o
*.sw[po]
ltmain.sh
*.orig
*.rej
.deps
.dirstamp
jfs
*.rdb
.release-env
*.so
libjfs.h
docs/node_modules
cmd/cmd
.hypothesis
/node_modules
*.exe

# os
.DS_Store

# ide
# .vscode
.idea

# lang
__pycache__

# temp
pkg/meta/badger
pkg/meta/testdata
*.dump
*.out

# gen
/juicefs
/juicefs.ceph
/juicefs.exe
/juicefsd.exe
/juicefs.exe~
/juicefsd.exe~
/juicefs.lite
dist/
.vscode/devplan.md
pkg/meta/jfs-load-dump/000001.vlog
pkg/meta/jfs-load-dump/00002.mem
pkg/meta/jfs-load-dump/DISCARD
pkg/meta/jfs-load-dump/KEYREGISTRY
pkg/meta/jfs-load-dump/MANIFEST
